*.*~
*.bak
*.old
*.resharper
*.iml
*.ipr
*.iws
*.rb
*.zip
*.log
*.pdf
*.xls
.DS_Store
.htaccess
access.log
error.log
path.xml
work.xml
sftp-config.json
/data/main/css-compiled
/www/test*.php
/.idea/*
.project
proxy-local.conf.json

# Build
/data/compiled-css
/www/f/dist/
/www/f/dist-server/
/www/f/dist-dev/

# Bitrix
/www/.access.php
/www/api/i18n/*
/www/api/v1/menu.json
/www/bitrix
/www/vendor/*
/www/upload
/www/__log
/www/__backup
/www/__old
/www/__old2
/www/.vscode/
/www/local/unit_tests/.phpunit.result.cache
